{% extends "StopsopaUtilsBundle:upload:base.html.twig" %}

{% use "StopsopaUtilsBundle:upload:common.html.twig" %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h3>Create user</h3>

{#    {% form_theme form 'AppBundle::own_address.html.twig' %}#}

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}

        {{ form_row(form.surname) }}

        <div class="header">
            <a href="javascript:void(0)" data-form-collection="data-collation-list">add</a>
            <table>
                <tbody class="no-border-y" data-collation-list="data-collation-tmp">
                    {% for c in form.comments %}
        {#                {% form_theme a 'AppBundle::own_address.html.twig' %}#}

                        {{ block('row') }}

                    {% endfor %}
                </tbody>
            </table>

            {{ block('collectionandblueimptemplates') }}
        </div>




<hr />
        {% form_theme form.file 'StopsopaUtilsBundle:upload:blueimp.html.twig' %}
        {{ form_row(form.file) }}
<hr />



    {{ form_end(form) }}
{% endblock %}
