{% extends "StopsopaUtilsBundle:upload:base.html.twig" %}

{% use "StopsopaUtilsBundle:upload:common.html.twig" %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block body %}


    <h3>Edit of {{ entity.name }} {{ entity.surname }}</h3>

{#    {% form_theme form 'AppBundle::own_address.html.twig' %}#}

    {{ form_start(form, {attr: {novalidate: ''}}) }}

        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}

        {{ form_row(form.surname) }}


        <div class="header">
            <a href="javascript:void(0)" data-form-collection="data-collation-list">add</a>
            <table>
                <tbody class="no-border-y" data-collation-list="data-collation-tmp">

                    {# UWAGA !!! UWAGA !!! - wskazanie pola nested jest TRZY razy nie zapomnieć o tym bo nie rzuci błędem #}
                    {% for _c in form.comments %}

                        {{ block('row') }}

                    {% endfor %}
                </tbody>
            </table>
        </div>

        {{ block('collectionandblueimptemplates') }}

<hr />
       {# {% form_theme form.file 'StopsopaUtilsBundle:upload:blueimp.html.twig' %}
        {{ form_row(form.file) }}#}

        <img src="{{ entity.webPath }}" width="100" />
<hr />



    {{ form_end(form) }}

{% endblock %}


